*.pyc
**/build/
**/install/
**/log/

.pre_commit_cache/
.idea/
.vscode/
.cache/

# Python envs
.venv/
venv/
env/
ENV/

**/gazebo_init/*
!**/gazebo_init/README.md

*IfcConvert
**/__pycache__/
**.pytest_cache/
**/htmlcov/
.coverage

*.egg-info

# AI
.agents/
.codex/

# User dir
.holoswarm_client/

# Use leading underscores for private stuff
_*/
**/_*/
_*
**/_*

!**/__init__.py
!**/__main__.py